@import 'variables.scss';
@import 'mixins.scss';
*,
*:before,
*:after {
   box-sizing: border-box;
}
html, body {
	font-family: $font;
	padding:0;
	margin:0;
}
/*navigation*/
.navbar-left {
    float: right !important;
}
.navbar-nav {
    float: right;
    margin: 0;
}



.btn-center {
	margin:0 auto;
	display:block;
	overflow:hidden;
}
.button-style {
	@include transition(all, .7s);
	&:hover{
		background-color:darken($button-base, 15%);
		color: #fff;
	}
	@extend %buttons;
	&:last-child {
		background-color:darken($button-base, 15%);
		&:hover{
		background-color:lighten($button-base, 0%);
		color: #fff;
		}
	}
}
#cover {

	text-align:center;
	background:url('../img/background.jpg') no-repeat top center;
	padding-top:87px;
	 @include breakpoint(medium_screen_extra){
		 	padding-top:50px;
		 }
}
%underline {
	width:97px;
	height:2px;
	margin: 0 auto;
	background:$secondary-color;
	}
#cover-caption {
	width:100%;
		h1 {
		font-size:$base-fsz - 2em;
		color:$base-color;
		font-weight: $base-fw + 300;
		padding:0 0 25px 0;
		margin:0;
		font-family: $font;
		letter-spacing: 1px;
		span{
			font-weight:300;
			display: inline-block;
			padding:0;
			font-size:$base-fsz - 3.2em;
		}
	}
	.orng_underline {
		@extend %underline;
	}

	p {
		padding:41px 0 400px 0;
		font-size:$base-fsz - 2.3em;
		max-width: 683px;
		width: 100%;
		margin:0 auto;
		font-weight: $base-fw - 100;
		 @include breakpoint(medium_screen_extra){
		 	font-size:$base-fsz - 3em;
		 	padding:21px 20px 400px 20px;
		 }
	}
}

/*Form and text*/


.wrap-content {
	max-width:1200px;
	width:100%;
	margin:0 auto;
}